# ----------------------
# Flask
# ----------------------
flask


# ----------------------
# XML
# ----------------------
lxml
relaxml
simplejson


# ----------------------
# HTTP
# ----------------------
requests


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
